{% extends "config_adapter_impl.h.j2" %}

{% block extra_includes %}
#include <ui/models/device_adapter.h>
#include <ui/models/camera_image_provider.h>
#include <plugins/devices/device_variants.h>
{% endblock %}

{% block base_class %}DeviceAdapter{% endblock %}

{% block aliases %}
    using config_type = {{ s.struct_name }};
    using device_adapter_type = {{ s.adapter_name }};

{% endblock %}

{% block ctor_params %}{{ s.struct_name }} &config,
                                 pc::devices::DevicePlugin* plugin,
                                 CameraImageProvider *imageProvider = nullptr,
                                 QObject *parent = nullptr{% endblock %}

{% block ctor_base_init %}        : DeviceAdapter(plugin, imageProvider, parent)
{% endblock %}

{% block set_config %}
    bool setConfig(const pc::devices::DeviceConfigurationVariant &config) override {
        const auto *configPtr = std::get_if<{{ s.struct_name }}>(&config);
        if (!configPtr) return false;
        return setConfig(*configPtr);
    }

    bool setConfig(const {{ s.struct_name }} &config) {
        m_config = config;

{% for m in s.members %}
        emit {{ m.name }}Changed();
        notifyFieldChanged(QStringLiteral("{{ m.name }}"));
{% endfor %}

        bool setConfigSuccess = true;
{% for m in s.members %}
{% if m.is_nested %}
        setConfigSuccess = setConfigSuccess && m_{{ m.name }}Adapter.setConfig({{ m.config_ref }});
{% endif %}
{% endfor %}
        return setConfigSuccess;
    }
{% endblock %}

{% block trait_specializations %}
{#  Mapping between configuration and adapter class  #}

template <class ConfigT>
struct device_adapter_for_config;

{% for s in structs %}
template <>
struct device_adapter_for_config<{{ s.struct_name }}> {
    using type = {{ s.adapter_name }};
};
{% endfor %}

template <class ConfigT>
using device_adapter_for_config_t = typename device_adapter_for_config<ConfigT>::type;

{% endblock %}